#carouselExampleDark .carousel-item img {
  height: 500px; /* decrease the height */
  width: 500%; /* increase the width */
  
}

#carouselExampleDark {
  max-width: 500%; /* set the maximum width of the container */
  margin: 0 auto; /* center the container horizontally */
}

.img-1 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 120vh;
}
.img-2 {
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.img-3 {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 150vh;
}