<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Success</title>
<link rel="stylesheet" th:href="@{/css/Login.css}">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="login-container">
	<div class="row">
	<div class="col-10">
	<h1><em>Registered Successfully!!</em></h1>
	<p class="mt-5"> please continue logging in --> <a class="btn btn-primary ms-2" th:href="@{/Login}">Login</a> </p>
	</div>
	</div>
</div>
</body>
</html>